/*BS*/import { HttpClient } from '@angular/common/http';/*BE*/
// ...

@Injectable({ /* ... */ })
export class BookStoreService {
  /*BS*/private apiUrl = 'https://api5.angular-buch.com';/*BE*/

  constructor(/*BS*/private http: HttpClient/*BE*/) {}

  // ...
}
